.button{
    button{
        background-color: #3151AA;
        border-radius: 25px;
    cursor: pointer;
    border: none;
    color: #ffffff;
    text-shadow: 0 0 2px #ffffff;
    // margin: 42px 46px 60px;
    padding: 16px 62px 17px;
    text-transform: uppercase;
    &:hover{
            background-color:  #3c496f;
    
        }
}
}