.card{
    text-align: center;
    color:#fff;
    padding: $padding;
    width: 300px;

    .card-image{
        img{
            width: 80px;
            transform: rotate(-20deg);
            color: white;
        }
    }
    .card-title{
        font-size: 20px;
        margin: 16px;
    }
    .card-text{
        font-weight: 400;
        font-style: italic;
        margin: 16px;
    }
}