.service{
    padding: $padding;
    // border: 1px solid red;
    text-align: center;
    display: flex;
    flex-direction: column;
    // margin: auto;
    .service-image{
        // margin-bottom: 16px;
        img{
            width: 20%;
        }

    }
    span{
        color: #111111;
        font-size: 20px;
        margin: 20px 0px 21px;
    }
}