.hero{
    border: 1px solid blue;
    // position: relative;
    // padding: $padding 10px;
    .hero__image{
        z-index: -1;
        position: relative;
        img{
            width: 100%;
        }
    }
    .hero__card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid orange; 
      z-index: 1;
      position: absolute;
      top: 350px;
      left: 16px;
       .card-wrapper1{
        background-color: #3151aa;
       }
    }
}